// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: image-url('ruby-big.png') $ruby-red no-repeat top right;
  padding: 75px 0;

  .container h1 { color: white; }
}

.index-table tbody {
  tr:hover{
    background-color: lighten($ruby-red, 50%);
  }

  tr td {
    padding: 0;

    a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 8px;

      &:hover {
        background-color: transparent;
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.material-list p.lead {
  margin: 20px 0 10px 0;
  padding-top: 10px;
}
